@font-face {
  font-family: 'Freesentation';
  src: url('./fonts/Freesentation-3Light.ttf');
}

body {
  margin: 0;
  font-family: 'Freesentation';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
  font-family: 'Freesentation';
  font-size: 15px;
}

button {
  font-family: 'Freesentation';
  font-size: 18px;
}
