@font-face {
  font-family: 'Freesentation';
  src: url('./fonts/Freesentation-3Light.ttf');
}

body {
  margin: 0;
  font-family: 'Freesentation';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

